@import './config';

.contact {
    height: 100%;
    padding-top: 75vh;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    // background: 
    //     linear-gradient(
    //         to right,
    //         rgba($primary-color, 0.9),
    //         rgba($primary-color, 0.3)
    //     ),
    //     url(../img/buddha.jpg) center top;
    // background-size: cover;

    h2 {
        padding-bottom: 2rem;
    }

    &__list {
        padding-left: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        padding-left: 2rem;
        position: initial;
        margin-top: 2rem;
    }
}